@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Libre+Baskerville&family=Lilita+One&family=Archivo+Black&family=Major+Mono+Display&family=Montserrat:wght@100;400&family=Poppins&family=Raleway&family=Roboto+Condensed:wght@700&display=swap');

:root{
    --color: #000;
    --background: #fff;
}

::selection{
    background-color: #1500ff;
    color: #fff;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #181814;
        --color: #e7e2e2;
    }
} */

body{
    margin: 0px;
    background-color: var(--background);
    line-height: 160%;
}

.code{
    font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
    color: #1500ff;
    font-size: 1rem;
}

.title{
    font-family: "Archivo Black", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 5.5rem;
    text-align: center;
    text-decoration: overline;
    text-decoration-color: #ff0000;
    text-decoration-thickness: 2rem;
    color: var(--color);
    margin-top: 12px;
}

.subtitle{
    font-family: "JetBrains Mono", 'Courier New', Courier, monospace;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    color: var(--color);
}

.text{
    color: var(--color);
    padding: 2rem 10rem;
}

.text p{
    font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
}

.header-img{
    height: 8rem;
    margin-top: 2%;
}

.heading{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3rem;
    font-weight: 700;
}

.code-div{
    font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
    background-color: #000;
    color: #fff;
    margin: 0px;
    padding: 1.2rem;
    padding-left: 3rem;
    border-radius: 24px;
    font-size: 1.2rem;
}

h3{
    font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
}